body {
  box-sizing: border-box;
}

.top_nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.top_nav input[type="text"] {
  /* float: right; */
  margin-inline-end: 5px;
}

.border_icon {
  background-color: #ececec;
  padding: 5px;
  border-radius: 10px;
  color: rgb(15, 14, 14);
  display: flex;
  align-items: center;
}

ion-icon {
  font-size: 20px;
  border-radius: 50%;
  padding: 8px;
}

ion-icon:hover {
  background-color: rgb(58, 58, 58);
  color: white;
}

input[placeholder="Search"] {
  border: none;
  background: content-box;
}
h1,
tr,
th {
  text-align: center;
}

.form-select {
  margin-block-end: 30px;
}
